.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }

  .bord{
    background-color:hsla(0, 20%, 94%, 0.747);
    border-radius: 50%;
    width: 150px;
    height: 150px; 
    margin: -50px;
  }
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 15px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .bor{
    border-radius: 50%;
    
    width: 60px;
    height: 60px; 

  }
.bt{

  margin-left: 1075px; 
  margin-top: -118px; 
  margin-bottom:80px; 
}

.white-color {
  color:white;
  }

.gradient-text{
  background-image: linear-gradient(45deg, #dddddd, #0e0d0d); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-size: 45px
}